@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.required:after {
  content:" *";
  color: red;
}

* {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.wave-bg {
  background-image: url(./assets/images/wave-background-vector.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@keyframes bgOpacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(20deg);
  }
}

.animate-wave {
  animation: wave 1s infinite;
}